section
  .contact_block
    div
      .contact_block-wrapperTop
        .wrapper-text
          p.contact_block-titleSection Contact us
          h4.contact_block-title Have a project in mind?
          p.contact_block-text
            | The right move at the right time saves your investment. Live the
            | dream of expanding your business.
        img(src="../../assets/imgs/main/wave.svg", alt="Wave Image")
      .contact_block-wrapperBottom
        .corporation
          .corporation-name
            img(src="../../assets/imgs/main/home.svg", alt="Home Icon")
            p Corporation
          p.corporation-address 4517 Washington Ave. Manchester, Kentucky 39495
          p.corporation-number
            a(href="tel:(239) 555-0108") (239) 555-0108
          p.corporation-email
            a(href="mailto:contact@company.com") contact@company.com

        .wrapper-form
          include form.pug