div.hero_block
  div.hero_block-left
    h1.hero_block-title
      | We are
      span.awesome-team
        |  awesome team
      |  for your business dream
    p.hero_block-text
      | Integrated workflow designed for product teams. We create world-class development and branding
    div.wrapper-button
      a.btn.btn-black.hover-up.icon-arrow-right-white.btn--hero Get Started
      a.btn.btn-default.hover-up.icon-arrow-right.transparent.btn--hero Learn More
  div.hero_block-right
    img(src="../../assets/imgs/main/Rectangle.png" alt='photo women') 
