section
  .info_block
    h2.info_block-title Built exclusively for you
    p.info_block-text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
    .wrapper-card
      .work-card
        .work-card-image
          img(src='../../assets/imgs/main/info1.svg')
        .wrapper-text
          h3.work-card-title 1. Acquisition
          p.work-card-text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
      .work-card
        .work-card-image
          img(src='../../assets/imgs/main/info2.svg')
        .wrapper-text
          h3.work-card-title 2. Activation
          p.work-card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .work-card
        .work-card-image
          img(src='../../assets/imgs/main/info3.svg')
        .wrapper-text
          h3.work-card-title 3. Retention
          p.work-card-text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.